<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link rel="stylesheet" href="static/css/login.css">
	<!-- <link rel="stylesheet" href="./style.css"> -->
</head>

<body>
	<div class="login">
		<input type="email" placeholder="Email" id="email-input" name="email">
		<input type="password" placeholder="Password" id="password-input">
		<a href="/signup" class="forgot">Create an account</a>
		<input id="login-btn" type="submit" value="Log In">
	</div>
	<div class="shadow"></div>

	<ul class="notifications"></ul>

	<script src="static/javascript/login.js"></script>
	<!-- <script src="./script.js"></script> -->
</body>

</html>