<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>

<body>
    <div class="login">
        <input type="text" placeholder="Username" id="username-input" name="username">
        <input type="email" placeholder="Email" id="email-input" name="email">
        <input type="password" placeholder="Password" id="password-input">
        <input type="submit" value="Sign Up" id="signup-btn">
    </div>
    <div class="shadow"></div>
    <script src="static/javascript/signup.js"></script>
</body>

</html>