/* Variables */
:root {
    /* --pri: #128CFC; */
    --pri: #37a69b;
    --sec: #eceeee;
    --dark-pri: #073f54;
}

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* Container Styles */
.container {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    place-items: center;
    /* background-color: var(--pri); */
}

/* Items Styles */
.items {
    width: 300px;
    background: var(--sec);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-top: 10px solid var(--pri);
}

/* Items Head Styles */
.items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: var(--pri);
    font-weight: bold;
    font-size: 20px;
}

.items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid var(--pri);
}

/* Items Body Styles */
.items-body {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
}

/* Items Body Content Styles */
#room-input,
.items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

#room-input:hover,
.items-body-content:hover {
    border-radius: 15px;
    border: 1px solid var(--pri);
}

.items-body-content i {
    align-self: center;
    font-size: 17px;
    color: var(--pri);
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
}

/* Keyframes Animation */
@keyframes icon {

    0%,
    100% {
        transform: translate(0px);
    }

    50% {
        transform: translate(3px);
    }
}


/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; */
/* } */

:root {
    --dark: #34495E;
    --light: #ffffff;
    --success: #0ABF30;
    --error: #E24D4C;
    --warning: #E9BD0C;
    --info: #3498DB;
}

/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--dark);
} */

.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
    font-family: 'Poppins', sans-serif;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    width: 300px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: var(--light);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }

    40% {
        transform: translateX(-5%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(0%);
    }

    80% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before,
.btn#success {
    background: var(--success);
}

.toast.error::before,
.btn#error {
    background: var(--error);
}

.toast.warning::before,
.btn#warning {
    background: var(--warning);
}

.toast.info::before,
.btn#info {
    background: var(--info);
}

.toast .column i {
    font-size: 1.75rem;
}

.toast.success .column i {
    color: var(--success);
}

.toast.error .column i {
    color: var(--error);
}

.toast.warning .column i {
    color: var(--warning);
}

.toast.info .column i {
    color: var(--info);
}

.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
}

.toast i:last-child {
    color: #aeb0d7;
    cursor: pointer;
}

.toast i:last-child:hover {
    color: var(--dark);
}

.buttons .btn {
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
    color: var(--light);
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
}

@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }

    .notifications .toast {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }

    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}


/* LOG OUT */

#logout-btn div {
    border-radius: 15px;
    background-color: rgb(255 154 154 / 77%);
    color: black;
}

#logout-btn div:hover {
    background-color: red;
    color: white;
}

#room-list {
    max-height: 300px;
    overflow: scroll;
    overflow: auto;
}